<!-- Erubis post list from template -->
<div class='postlist' >
<% posts.each do |post| -%>
	<h3><a href="/posts/<%=post.postname%>"><%= post['title'] %></a></h3>
	<caption><%= post['date'] || '<em>Unknown Date</em>' %></caption>
	<!--<p>
	<% post['body'][0..75] %>
	</p>-->
<% end %>
</div>
